<h1 class="col-md-12">People</h1>     
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li><a href="<%= root_path %>">Home</a><span class="divider"></span></li>
				<li class="active">Meet the people</li>
			</ul>
		</div>
        
	<!-- =========================Start Col left section ============================= -->        
		<aside class="col-md-4 ">
		<div class="col-left">
			<h4>Job opportunities</h4>
			<p>Suspendisse quis risus turpis, ut pharetra arcu. Donec adipiscing, quam non faucibus luctus, mi arcu blandit diam, at faucibus mi ante vel augue.</p>
			<h6>We are looking for</h6>
			<ul class="list_2">
				<li>Vivamus sagittis lacus vel augue laoreet </li>
				<li>Nullam quis risus eget urna mollis</li>
				<li>Nullam id dolor id nibh ultricies</li>
				<li>Donec id elit non mi porta</li>
			</ul>
			<p><a href="contact.html" class=" button_medium">Apply now</a></p>
		</div>
		<%= render 'layouts/banner' %>
		</aside>
        
        <!-- =========================Start Col right section ============================= -->
		<section class="col-md-8 ">
		<div class="col-right">
			<div class="main-img">
				<img src="<%= asset_path 'staff.jpg' %>" alt="">
				<p class="lead">Tibique dolores adversarium ne vel. At vide errem duo, vis luptatum menandri ullamcorper id.</p>
			</div>
			<p>
				Lorem ipsum dolor sit amet, elitr nullam ei duo. Duo ut omnes scribentur. <strong>Vim ne quas invidunt intellegam</strong>, quo docendi blandit electram ei, vel ex omittam detracto philosophia. Ei nam reque etiam, possit eripuit ad vel. Aperiri deserunt ea cum. Eam animal principes neglegentur cu, facer audiam forensibus his ex. Tibique dolores adversarium ne vel. At vide errem duo, vis luptatum menandri ullamcorper id. Duo cu <a href="#">tractatos interesset</a>, at usu soluta tibique principes. Ei cum dicam suavitate, eum ex erant homero mandamus, his te albucius platonem mediocritatem.
			</p>
			<hr>
      
      <% @staff.each do |staff| %>
				<div class="strip-staff">
					<div class="row">
						<div class="col-md-3 pic-teacher">
							<div class="borders"><img src="<%= asset_path 'teacher.jpg' %>" alt="" class=" img-rounded img-responsive"></div>
						</div>
						<div class="col-md-9">
							<h4>Ms. Annie Ann <em>Management and Business</em></h4>
							<p>
								An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, <strong>mea ea ullum epicurei</strong>. Saepe tantas ocurreret duo ea, has facilisi vulputate an. Pri aeque iuvaret nominati et, ad mea clita numquam.
							</p>
							<ul class="data-staff">
								<li><i class="fa fa-phone"></i> +13.225.324.22</li>
								<li><a href="#"><i class="fa fa-envelope"></i></a></li>
								<li><a href="#"><i class="fa fa-skype"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div><!-- End Strip staff -->
			<% end %>
            
			
            
			<p class="text-center">
				<a href="all-courses.html" class="button_large">View courses</a>
			</p>
            
		</div>
		</section><!-- end col right-->