<div class="col-left col-danger">
  <h3>Coder Factory promotion for June</h3>
  <p class="lead">Save up to $400</p>
  <p>When you complete the Foundation Programme, and you decide to continue learning web application development at Coder Factory, you will receive 20% off your next programme.</p>
  <h3>How it works</h3>
  <ol>
  <li>Enrol in a Foundation Programme scheduled in June 2014</li>
  <li>Complete the programme</li>
  <li>Decide to enrol in the Web App Developer programme (or the Deluxe programme)</li>
  <li>Receive 20% off the programme fees</li>
  </ol>
  </div>