<h1 class="col-md-12">Thank you for registering.</h1>

<hr><br>

 <div class="col-md-8">
 <div class="col-left">
 <h2>We are looking forward to meeting you (if we haven't already).</h2>
 <p class="lead">You are welcome to become a part of the Coder Factory community by joining the following groups.</p>
<div class="row"><div class="col-md-5">
 <p><a href="https://facebook.com/groups/thecoderfactory" target="_blank" class="btn btn-success btn-block">Coder Factory Facebook Group</a></p>
 <p><a href="http://www.meetup.com/Sunday-Coder-Club/" target="_blank" class="btn btn-warning btn-block">Sunday Coder Club - Sydney</a></p>
 <p><a href="http://www.meetup.com/Brisbane-Coder-Club/" target="_blank" class="btn btn-warning btn-block">Sunday Coder Club - Brisbane</a></p>
 </div>
 <div class="col-md-5">
 	<p><a href="https://facebook.com/thecoderfactory" target="_blank" class="btn btn-primary btn-block">Coder Factory on Facebook</a></p>
 	<p><a href="https://plus.google.com/+Thecoderfactory" target="_blank" class="btn btn-danger btn-block">Coder Factory on Google+</a></p>
 	<p><a href="https://twitter.com/coderfactory" target="_blank" class="btn btn-info btn-block">Coder Factory on Twitter</a></p>
 </div>
 </div>
 </div>
 <div class="break"><br></div>
 </div>
<div class="col-md-4">
  <%= render 'layouts/banner' %>
  <div class="col-right"><div class="widget">
        <h4>Keep in the loop</h4>
            
            <div id="message-newsletter"></div>
              <form action="http://thecoderfactory.us7.list-manage1.com/subscribe/post?u=1c644187b6d7e06d32bcae158&amp;id=2afdc8b0c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="form-group">
                    <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required></div><!-- 
                    real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_1c644187b6d7e06d32bcae158_2afdc8b0c3" value=""></div>
                    <div class="clear"><input type="submit" value="Stay informed" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success"></div>
                </form>
          </div>
          <div class="break"><br></div>
        <div class="widget">
        <h4>Featured Article</h4>
        <div class="col-md-12 popular-post">
            <%= cl_image_tag @post.image, class: 'pull-left' if @post.image %> 
            <p>
              <a href="<%= post_path(@post) %>"><%= @post.title %> </a>
            </p>
        </div>

                
      </div><!-- End widget -->
      <div class="break"><br></div>
      </div>




  </div>
 </div>