<div class="col-md-12 hidden-xs">
  <%= render 'layouts/banner' %>
            <div class="box-style-1">
            <div class="feat">
              <i class="fa fa-smile-o fa-3x fa-fw"></i>
              <h3>Have fun while you learn</h3>
              </div>
              <p>Why should learning new things be serious and boring? Make new friends, build projects that you can relate to and have a real world purpose. That's what makes learning coding fun.</p>
            
            <hr class="double">
            <div class="feat">
              <i class="fa fa-group fa-3x fa-fw"></i> 
              <h3>Teachers that care about you</h3>
            </div>
              <p>There are no instructors at Coder Factory, we have teachers. Teachers who take the time to find out who you are, what your goals are and supports you on your journey. No one gets left behind in a Coder Factory class.</p>
            <hr class="double">
            <div class="feat">
              <i class="fa fa-rocket fa-3x fa-fw"></i> 
              <h3>Learn the latest and greatest</h3>
            </div>
              <p>So many online courses and schools offer outdated versions of languages. We only teach you the latest and greatest technologies. So you can innovate and disrupt.</p>
            <hr class="double">
            <div class="feat last">
              <i class="fa fa-laptop fa-3x fa-fw"></i> 
              <h3>Be a part of the coder community</h3>
            </div>
              <p>There is a quickly growing community of new coders who, like you, have dreams of building apps to help them in their careers -- or help them improve the world.</p>
            </div>
           
    </div>