<div class="box-style-2 ">
                <a href="http://www.youtube.com/embed/Dthd3_-IS20?autoplay=1" title="Inside the Coder Factory - the 5 minute movie" target="_blank">
                    <i class="fa fa-play-circle fa-5x"></i>
                    <h3>Inside the Coder Factory</h3>
                    <p>Meet the teachers and students at Coder Factory and find out what it's all about. It might surprise you.</p>
                </a>
            </div>