<div class="col-right">
  <h2>Upcoming Programmes</h2>
  <p class="lead">Check out our upcoming programmes in your area. </p>
</div>
<div class="scheduled">

			<%= render @weekend_programmes %>

	</div>