<div class="container hidden-xs">

     <div class="row" id="main-boxes">
    	<div class="col-md-4">
        	<div class="box-style-2 ">
            	<a href="/popular_programmes/beginner-coder-weekend-programme" title="Beginner Coder Weekend Workshop">
                	<i class="fa fa-check-circle fa-5x"></i>
                    <h3>You <em>can</em> learn to code</h3>
                    <p>Afraid you'll miss out on the tech revolution? Struggling to teach yourself online? Get started here.</p>
                </a>
            </div>
        </div>
        <div class="col-md-4">
          <div class="box-style-2 video-responsive">

              <iframe width="560" height="315" src="//www.youtube.com/embed/Dthd3_-IS20?rel=0&autoplay=0&showinfo=1&controls=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-4">
            <div class="box-style-2 ">
                <a href="popular_programmes/web-app-developer-deluxe" title="Book a workshop">
                    <i class="fa fa-question-circle fa-5x"></i>
                    <h3>What will you create?</h3>
                    <p>Take our Deluxe Web App Developer course and discover a whole new world of possibilities.</p>
                </a>
            </div>
        </div>
    </div>
</div> <!-- end container-->
<div class="container">
<div class="row">
    

    <section class="col-md-8">
        <%= render 'upcoming_programmes' %>
    </section>
    <%= render 'home_sidebar' %>
  </div>
   </div><!-- end container-->