<div class="container">

     <div class="row" id="main-boxes">
    	<div class="col-md-4">
        	<div class="box-style-2 ">
            	<a href="/popular_programmes/beginner-coder-weekend-programme" title="Beginner Coder Weekend Workshop">
                	<i class="fa fa-check-circle fa-5x"></i>
                    <h3>You <em>can</em> learn to code</h3>
                    <p>Afraid you'll miss out on the tech revolution? Struggling to teach yourself online? Get started here.</p>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box-style-2 ">
                <a href="http://www.youtube.com/embed/Dthd3_-IS20?autoplay=1" title="Personalised Programme" target="_blank">
                    <i class="fa fa-play-circle fa-5x"></i>
                    <h3>Inside the Coder Factory</h3>
                    <p>Meet the teachers and students at Coder Factory and find out what it's all about. It might surprise you.</p>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box-style-2 ">
                <a href="popular_programmes/web-app-developer-deluxe" title="Book a workshop">
                    <i class="fa fa-question-circle fa-5x"></i>
                    <h3>What will you create?</h3>
                    <p>Take our Deluxe Web App Developer course and discover a whole new world of possibilities.</p>
                </a>
            </div>
        </div>
    </div>
</div> <!-- end container-->
<div class="container">
<div class="row">
    <div class="col-md-4 ">
            <div class="box-style-1">
            <div class="feat">
              <i class="fa fa-smile-o fa-3x fa-fw"></i>
              <h3>Have fun while you learn</h3>
              </div>
              <p>Why should learning new things be serious and boring? Make new friends, build projects that you can relate to and have a real world purpose. That's what makes learning coding fun.</p>
            
            <hr class="double">
            <div class="feat">
              <i class="fa fa-group fa-3x fa-fw"></i> 
              <h3>Teachers that care about you</h3>
            </div>
              <p>There are no instructors at Coder Factory, we have teachers. Teachers who take the time to find out who you are, what your goals are and supports you on your journey. No one gets left behind in a Coder Factory class.</p>
            <hr class="double">
            <div class="feat">
              <i class="fa fa-rocket fa-3x fa-fw"></i> 
              <h3>Learn the latest and greatest</h3>
            </div>
              <p>So many online courses and schools offer outdated versions of languages. We only teach you the latest and greatest technologies. So you can innovate and disrupt.</p>
            <hr class="double">
            <div class="feat last">
              <i class="fa fa-laptop fa-3x fa-fw"></i> 
              <h3>Be a part of the coder community</h3>
            </div>
              <p>There is a quickly growing community of new coders who, like you, have dreams of building apps to help them in their careers -- or help them improve the world.</p>
            </div>
            <%= render 'layouts/banner' %>
    </div>
    <section class="col-md-8">
        <%= render 'upcoming_programmes' %>
    </section>
  </div>
   </div><!-- end container-->