<div class="col-right">
<div class="widget">
<h3>Programmes which include this unit:</h3>
<% @popular_programmes.each do |popular_programme| %>
	<p><%= popular_programme.name %></p>
<% end %>
</div>
</div>