<h1 class="col-md-12">About us</h1>
	<div class="col-md-12">
		<ul class="breadcrumb">
			<li><a href="<%= root_path %>">Home</a><span class="divider"></span></li>
			<li class="active">About us</li>
		</ul>
	</div>
	<!-- =========================Start Col left section ============================= -->   
	<aside class="col-md-4 ">
	<div class="col-left">
		<h4>Mission</h4>
		<p>
			Empowering the citizens of the world to embrace their technological future.
		</p>
		<hr>
        
		<h4>Strategies</h4>
		<p>
			The Coder Factory provides education in the latest web design and application development technologies to enable people to empower themselves and improve the lives of their family, their communities and their world.
		</p>
		<a href="blog.html" class=" button_red_small">Read more</a>
		<hr>

		<h4>Testimonials</h4>
		<p>
			Our graduates have the skills, knowledge and confidence to build their own tech startups and create apps that make a difference in the world, help advance their careers and enrich their personal life.
		</p>
		<a href="testimonials.html" class=" button_red_small">Read more</a>
		<hr>
        
		<h4>How to apply</h4>
		<ul class=" list_2">
			<li>Decide on your goals </li>
			<li>Enter your current skills</li>
			<li>See your personalised programme</li>
		</ul>
		<p><a href="personalised-programme.html" class=" button_medium">Start now</a></p>
	</div><!--End col left -->
    
	<p><img src="<%= asset_path 'banner.jpg' %>" alt="Banner" class="img-rounded img-responsive"></p>
	</aside>

<!-- =========================Start Col right section ============================= --> 
<section class="col-md-8  ">
	<div class="col-right">
       <div class="main-img">
            <img src="<%= asset_path 'about.jpg' %>" alt="" class="img-responsive">
            <p class="lead">"If you enjoy building things and seeing ideas come to life, then I would strongly recommend you give the guys at The Coder Factory a call." - Mark Collins</p>
        </div>
    <p>The Coder Factory helps you become a confident coder with flexible part time courses. Build fun and exciting projects that could make your dreams come true.</p>


<h5>Why us?</h5>
<ul class=" list_3">
    <li>Fun, face-to-face classes</li>
    <li>Learn fast</li>
    <li> Busy with life? We're flexible</li>    
    <li>Learn the latest tech</li>
    <li>Build &amp; launch real apps</li>
    <li>Network and collaborate</li>
</ul>

<h5>Don't pay for classes you don't need</h5>
<p>You don't need to sit through classes that are covering stuff you already know. Save your money and choose modules that help you achieve your goals faster. Use our <a href="personalised-programme.html">Personalised Programme Wizard </a>to find out what modules are right for you.</p>
<hr>
   <p class="text-center"><a href="people.html" class="button_large">Meet the team </a></p>

		</div><!-- end col right-->
	</section>