<aside class="col-md-4">
		<div class="col-sidebar">
			<h3>Contact details</h3>
			<ul class="fa-ul">
				<li><i class="fa-li fa fa-building"></i> <a href="/locations/coder-factory-hq">Coder Factory HQ</a><br>91 Campbell St<br>SURRY HILLS, 2010</li>
            	<li><i class="fa-li fa fa-phone"></i> <a href="tel:">1300 884 095</a></li>
                <li><i class="fa-li fa fa-envelope"></i> <a href="mailto:info@thecoderfactory.com">info@thecoderfactory.com</a></li>
			</ul>
			
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6624.781684014921!2d151.21035159449465!3d-33.879586645578684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae1812323dc1%3A0x5ef7323178d4ab08!2sThe+Coder+Factory!5e0!3m2!1sen!2sau!4v1399468926983" height="250" frameborder="0" style="border:0"></iframe>
			
            
		</div>
		
		</aside>