<h1 class="col-md-12">Contact us</h1>
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li><a href="index.html">Home</a><span class="divider"></span></li>
				<li class="active">Contact</li>
			</ul>
		</div>
        <!-- =========================Start Col left section ============================= -->
		<aside class="col-md-4">
		<div class="col-left">
			<h3>Address</h3>
			<ul>
				<li><i class="fa fa-home"></i> 91 Campbell St, SURRY HILLS, 2010</li>
            	<li><i class="fa fa-phone"></i>Telephone:<a href="tel:">1300 884 095</a></li>
                <li><i class="fa fa-envelope"></i> Email: <a href="mailto:info@thecoderfactory.com">info@thecoderfactory.com</a></li>
			</ul>
			<hr>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.359167752272!2d151.21128380000002!3d-33.880402599999925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae1811387103%3A0x7a867b842fe716b2!2s91+Campbell+St!5e0!3m2!1sen!2sau!4v1399440599942" width="600" height="450" frameborder="0" style="border:0"></iframe>
			<br/>
			<small><a href="https://www.google.com.au/maps/place/91+Campbell+St/@-33.8804026,151.2112838,17z/data=!3m1!4b1!4m2!3m1!1s0x6b12ae1811387103:0x7a867b842fe716b2?hl=en" style="text-align:left">View bigger</a></small>
            <hr>  
		</div>
		<p>
			<%= render 'layouts/banner' %>
		</p>
		</aside>
        
        <!-- =========================Start Col right section ============================= -->
		<section class="col-md-8 ">
		<div class="col-right">
			<p class="lead">
				We love to hear your goals and are always open to any questions, feedback or suggestions. Feel free to contact us!
			</p>
			<hr>
			<h4>General Enquire or Apply</h4>
            
			<div id="message-contact"></div>
			<form method="post" action="assets/contact.php" id="contactform">
				<div class="row">
					<div class="col-md-6">
						<label>Name <span class="required">* </span></label>
						<input type="text" id="name_contact">
					</div>
					<div class="col-md-6">
						<label>Last name <span class="required">* </span></label>
						<input type="text" id="lastname_contact">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label>Email <span class="required">* </span></label>
						<input type="email" id="email_contact">
					</div>
					<div class="col-md-6">
						<label>Phone <span class="required">* </span></label>
						<input type="text" id="phone_contact">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label>Select a department</label>
						<select id="subject_contact" class="col-md-6">
							<option value="Administration">Administration</option>
							<option value="Admissions">Admissions</option>
							<option value="Courses">Courses</option>
							<option value="Apply">Apply</option>
						</select>
					</div>
				</div>
                <div class="row">
					<div class="col-md-6">
						<label>Message <span class="required">*</span></label>
						<textarea rows="5" id="message_contact" class="col-md-6"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label><span class="required">*</span> Are you human? 3 + 1 =</label>
						<input type="text" id="verify_contact" class="col-md-6">
					</div>
					<div class="button-align span3">
						<input type="submit" id="submit-contact" value="Submit" class=" button_medium">
					</div>
				</div>
				<hr>
			</form>
		</div><!-- end col right-->
		</section>