<%= content_for :icon, 'star' %>
<%= content_for :page_title, "Thanks" %>

<section class="col-md-8 ">
			<div class="col-sidebar">

			
				<h3>We'll get back to you very soon!</h3>

				<p class="lead">If you know anyone else who may be interested in learning to code, please take a moment and share our courses with them.</p>
				<br>
				<p>
					<div id="share-buttons">
	 					<center>
						<!-- Facebook -->
						<a href="https://www.facebook.com/thecoderfactory" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
						<!-- Twitter -->
						<a href="https://www.twitter.com/coderfactory" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
						<!-- Google+ -->
						<a href="https://plus.google.com/b/100818528139080406377/" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>
						<!-- LinkedIn -->
						<a href="http://www.linkedin.com/company/3290162" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" /></a>
						</center>	
					</div>
					<br><br>
					 <p class="lead">You can get started on your journey now by joining the following groups.</p>
					<div class="row"><div class="col-md-5">
					 <p><a href="https://facebook.com/groups/thecoderfactory" target="_blank" class="btn btn-default btn-block">Coder Factory Facebook Group</a></p>
					 <p><a href="http://www.meetup.com/Sunday-Coder-Club/" target="_blank" class="btn btn-default btn-block">Sunday Coder Club - Sydney</a></p>
					 <p><a href="http://www.meetup.com/Brisbane-Coder-Club/" target="_blank" class="btn btn-default btn-block">Sunday Coder Club - Brisbane</a></p>
				</p>
			</div>
		</section>
        <!-- =========================Start Col left section ============================= -->
		<aside class="col-md-4">
		<div class="col-sidebar">
			<h3>Address</h3>
			<ul class="fa-ul">
				<li><i class="fa-li fa fa-building"></i> 91 Campbell St<br>SURRY HILLS, 2010</li>
            	<li><i class="fa-li fa fa-phone"></i> <a href="tel:">1300 884 095</a></li>
                <li><i class="fa-li fa fa-envelope"></i> <a href="mailto:info@thecoderfactory.com">info@thecoderfactory.com</a></li>
			</ul>
			<hr>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6624.781684014921!2d151.21035159449465!3d-33.879586645578684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae1812323dc1%3A0x5ef7323178d4ab08!2sThe+Coder+Factory!5e0!3m2!1sen!2sau!4v1399468926983" height="250" frameborder="0" style="border:0"></iframe>
			<br/>
			<small><a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6624.781684014921!2d151.21035159449465!3d-33.879586645578684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae1812323dc1%3A0x5ef7323178d4ab08!2sThe+Coder+Factory!5e0!3m2!1sen!2sau!4v1399468926983" target="_blank" style="text-align:left">View bigger</a></small>
            <hr>  
		</div>
		<p>
			<%= render 'layouts/banner' %>
		</p>
		</aside>
        
        <!-- =========================Start Col right section ============================= -->
		