<div class="video-responsive hidden-xs"><p class="hidden-xs">
<iframe width="560" height="315" src="//www.youtube.com/embed/Dthd3_-IS20?rel=0&autoplay=0&showinfo=1&controls=0" frameborder="0" allowfullscreen></iframe></p>
</div>