
  <div class="col-sidebar">
        
       <div class="widget">
        <h4>Keep in the loop</h4>
            
            <div id="message-newsletter"></div>
              <form action="http://thecoderfactory.us7.list-manage1.com/subscribe/post?u=1c644187b6d7e06d32bcae158&amp;id=2afdc8b0c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="form-group">
                    <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required></div><!-- 
                    real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_1c644187b6d7e06d32bcae158_2afdc8b0c3" value=""></div>
                    <div class="clear"><input type="submit" value="Stay informed" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success"></div>
                </form>
          </div>

      
      


      <% if @popular_posts %>
      <hr>
      <div class="widget">
        <h4>Popular posts</h4>
        <div class="row">
          <% @popular_posts.each do |post| %>
          <div class="col-md-12 popular-post">
            <span class="pull-left"><%= cl_image_tag(post.image, :width => 100, :height => 50, :crop => :fill) %> </span>
            <p>
              <a href="<%= post_path(post) %>"><%= post.title %> </a>
            </p>
                 </div>
                
              
          <% end %>
          </div>
      </div><!-- End widget -->
      <% end %>

      <hr>
      <div class="widget tags">
      <h4>Categories</h4>      
      <ul class="submenu-col">
        <% if @categories %>
          <% @categories.each do |category| %>
            <% if category.posts.count > 0 %>
            
              <li><%= link_to category.name, blog_path(category: category) %></li>
            <% end %>
          <% end %>
        <% end %> 
      </ul>
      </div>
    </div>
  <!-- </div> --><!-- end  col left -->
  
