  <footer>
  <div class="container">
  	<div class="row">
    	<div class="col-md-4" id="brand-footer">
   	    	<p><img src="<%= asset_path 'logo-footer.jpg' %>" alt=""></p>
            <p>Copyright © 2014</p>
            <div class="twitter"><a href="https://twitter.com/coderfactory", target="_blank">Follow on Twitter</a></div>
			<div class="fb"><a href="https://www.facebook.com/thecoderfactory", target="_blank">Follow on  Facebook</a></div>  
        </div>
        <div class="col-md-5" id="contacts-footer">
        	<h4>Contacts</h4>
            <ul>
            	<li><i class="fa fa-home"></i> 91 Campbell St, SURRY HILLS, 2010</li>
            	<li><i class="fa fa-phone"></i> Telephone: 1300 884 095</li>
                <li><i class="fa fa-envelope"></i> Email: <a href="#">info@thecoderfactory.com</a></li>
            </ul>
            <hr>
        	<h4>Newsletter</h4>
            <p>Donec adipiscing, quam non faucibus luctus, mi arcu blandit diam. Dolor consul graecis nec ut, scripta eruditi scriptorem et nam.</p>
            
            <div id="message-newsletter"></div>
              <form method="post"  action="assets/newsletter.php" name="newsletter" id="newsletter" class="form-inline">
                <input name="email_newsletter" id="email_newsletter"  type="email" value="" placeholder="Your Email" >
                <button  id="submit-newsletter" class=" button_medium" > Subscribe</button>
              </form>
        	</div>
        <div class="col-md-3" id="quick-links">
        	<h4>Quick links</h4>
            <ul>
            	<li><a href="#" >Technology Education</a></li>
                <li><a href="#" >Programmes</a></li>
            	<li><a href="#" >News &amp; Events</a></li>
                <li><a href="#" >Community</a></li>
                <li><a href="#" >Tutorials</a></li>
            </ul>
            <hr>
            <ul>
            	<li><a href="#" >Blog</a></li>
            	<li><a href="#" >About</a></li>
                <li><a href="#" >Contact</a></li>
            </ul>
        </div>
        
    </div>
  </div>
  </footer><!-- End footer-->
<div id="toTop">Back to Top</div>