 <div id="menu-top">
            	<ul>
                	<li><a href="/" title="Home"><i class="fa fa-home fa-border"></i> Home</a>  </li>
                	<li><a href="<%= blog_path %>" title="Blog"><i class="fa fa-file-text-o fa-border"></i> Blog</a>  </li>
                    <li><a href="<%= about_path %>" title="About"><i class="fa fa-info-circle fa-border"></i> About</a>  </li>
                    <li><a href="<%= contact_path %>" title="Contact"><i class="fa fa-phone fa-border"></i> Contact</a>  </li>
                    
                    
                </ul>
            </div>