<header>
	<div class="container">
   	  <div class="row">
    	<div class="col-md-6" id="logo"><h1><a href="/"><%= image_tag 'logo22.png', class: 'logo img-responsive hidden-xs' %><%= image_tag 'logo-footer.png', class: 'img-responsive visible-xs', alt: 'Coder Factory' %></a></h1></div>
        <div class="col-md-6">
            <%= render 'layouts/header_links2' %>

        </div><!-- End span8-->
        </div><!-- End row-->
    </div><!-- End container-->
</header><!-- End Header-->