<header>
	<div class="container">
   	  <div class="row">
    	<div class="col-md-4" id="logo"><h1><a href="/">Coder Factory</a></h1></div>
        <div class="col-md-8">
        
        	
            
            <div id="menu-top">
            	<ul>
                	<li><a href="/" title="Home">Home</a> | </li>
                    <li><a href="<%= contact_path %>" title="Contact">Contact</a> | </li>
                    <li><a href="<%= new_user_session_path %>" title="Sign in">Sign in</a></li>
                </ul>
            </div>

        </div><!-- End span8-->
        </div><!-- End row-->
    </div><!-- End container-->
</header><!-- End Header-->