<div class="widget">
      <h3>Search workshops</h3>
        <form class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Search box</label>
            <input type="text" class="form-control" placeholder="search here..">
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div><!-- End Search -->
      <hr>