<nav>
<div class="megamenu_container container">
<a id="megamenu-button-mobile" href="#">Menu</a><!-- Menu button responsive-->
    
	<!-- Begin Mega Menu Container -->
	<ul class="megamenu">
		<!-- Begin Mega Menu -->
		
		<% @popular_programmes.each do |popular_programme| %>
			<li>
				<a href="<%= popular_programme_path(popular_programme) %>" title="<%= popular_programme.name %>" class="nodrop-down">
					
					<i class="fa fa-<%= popular_programme.icon %> fa-border"></i>
					&nbsp;
					<%= popular_programme.name %>
				</a>
			</li>
		<% end %>
		

	</ul><!-- End Mega Menu -->
</div>
</nav><!-- /navbar -->
