<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Coder Factory Payment Plans</h4>
      </div>
      <div class="modal-body">
         <h2>Payment plans are available on all programmes</h2>
    <p>We want to make our programmes affordable for everyone so we are proud to offer flexible payment options.</p>
    <h3>Pay upfront</h3>
    <p>Either pay the full programme fee when you enrol, or pay the deposit and then the remainder of the programme fee before the first day of your workshops and pay the published rate.</p>

    <h3>Pay weekly</h3>
    <p>For programmes that last longer than two weeks, you can choose to pay the deposit upon enrolling, then the remainder of the fee in weekly installments.</p>
    <p>eg. Choose 8 payments of $270 per week for 8 weeks for the Web App Developer Basic programme. Total payments including $100 deposit is $2260.</p>

    <h3>Pay fortnightly</h3>
    <p>For programmes that last longer than two weeks, you can choose to pay the deposit upon enrolling, then the remainder of the fee in fortnightly installments.</p>
    <p>eg. Choose 4 payments of $540 per fortnight for 8 weeks for the Web App Developer Basic programme. Total payments including $100 deposit is $2260.</p>

    <h3>Pay monthly</h3>
    <p>For programmes that last longer than four weeks, you can choose to pay the deposit upon enrolling, then the remainder of the fee in monthly installments.</p>
    <p>eg. Choose 2 payments of $1080 per month over 8 weeks for the Web App Developer Basic programme. Total payments including $100 deposit is $2260.</p>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>